/**
	Carousel
 **/
 
	#shirts-carousel {
		
	}
	
	#shirts-carousel .carousel-list-container {
		width: 1106px;
		height:320px;
		overflow:hidden;
		margin:0 auto;
	}
	
	#shirts-carousel ul {
		list-style: none;
		height:320px;
		
		margin:0;
		padding:0;
		position:relative;
	}
	
	#shirts-carousel ul li {
		position:absolute;
		left:-1000px;
		
		margin:0;
		padding:34px 0 0;
		background:url(../img/site/misc/img_cintre_24.png) no-repeat center top;
	}
	
	#shirts-carousel ul li img {
		padding:0 6px 0 0;
	}
	
	#shirts-carousel .prev,
	#shirts-carousel .next {
		position:absolute;
		top:0;
		width:200px;
		height:320px;
		text-indent: -5000px;
		overflow:hidden;
		
		outline:none;
	}
	#shirts-carousel .prev {
		left:0;
	}
	#shirts-carousel .next {
		right:0;
	}
	#shirts-carousel .disabled {
		opacity:0.5;
		cursor:default;
	}
	